<app-header></app-header>
<section class="pt-[10vh]">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 place-items-center px-14">
        <div *ngFor="let exercice of exercices">
            <div class="card card-compact bg-base-100 shadow-xl">
                <figure class="bg-gym-red-150"><img src="{{exercice.image}}" alt="{{exercice.titre}}" class="bg-gym-red-150 max-w-sm"/></figure>
                <div class="card-body">
                  <h2 class="card-title">{{exercice.titre}}</h2>
                  <p>{{exercice.desc}}</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-outline btn-success">Ajouter l'exercice</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>